.schedule-period {

  background-color: var(--background-tertiary);
  border-radius: 10px;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid var(--border-divisor);
    padding-inline: 20px;
    height: 48px;

    & div:first-child {
      display: flex;
      gap: 12px;
    }

    & span {
      color: var(--content-secondary);
    }
  }

  & + & {
    margin-top: 12px;
  }
  .sun-image,
  .cloud-sun-image,
  .moon-image {
    width: 20px;
    height: 20px;
  }

  .sun-image {
    mask: url("../../assets/icons/sun.svg");
    background-color: var(--accent-blue);
  }

  .cloud-sun-image {
    mask: url("../../assets/icons/cloud-sun.svg");
    background-color: var(--accent-orange);
  }

  .moon-image {
    mask: url("../../assets/icons/moon.svg");
    background-color: var(--accent-yellow);
  }
}

.schedule-period ul {
  list-style: none;
  padding: 20px;

  li {
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    height: 48px;
    padding-block: 16px;

    

    div {
      display: flex;
      align-items: center;
      strong {
        margin-right: 12px;
      }
      gap: 4px;

      .pet-owner {

        &::before {
          content: "/ ";
        }
      }
    }

    .pet-owner,
    .service-description,
    .remove-schedule {
      color: var(--content-secondary);
    }

    .remove-schedule {
      transition: all .5s;
      &:hover {
        color: var(--content-primary);
        text-decoration: underline;
        cursor: pointer;
      }
    }

    & + & {
      padding-top: 12px;
      border-top: 1px solid var(--border-divisor);
    }

    @media (max-width: 600px) {
      flex-direction: column;
      justify-content: center;
      align-items: start;

      .remove-schedule {
        align-self: flex-end;
      }
    }
  }
}