footer {
  position: fixed;
  bottom: 40px;
  right: 40px;

  button:not(button[type="submit"]) {
    background-color: var(--content-brand);
    color: #050505;
    height: 48px;
    width: 218px;

    text-transform: uppercase;
    border-radius: 8px;
    border: unset;
    box-shadow: 0px 0px 30px 1px #9282fa50;
    cursor: pointer;
  }
}