footer {
  position: fixed;
  bottom: 40px;
  right: 40px;

  button:not(button[type="submit"]) {
    background-color: var(--content-brand);
    color: #050505;
    height: 48px;
    width: 218px;

    text-transform: uppercase;
    border-radius: 8px;
    border: unset;
    box-shadow: 0px 0px 30px 1px #9282fa50;
    cursor: pointer;
    transition: all .5s;

    &:hover {
      background-color: var(--background-highlights);
    }
  }

  @media (max-width: 600px) {
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    padding: 18px;
    width: 100%;

    background-color: var(--background-tertiary);
    display: flex;
    align-items: center;
    justify-content: center;

  }
}